* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header {
    background-color: black;
    color: #FFC733;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo h1 {
    padding-left: 1rem;
    font-size: 2.5rem;
}
header img {
    width: 10rem;
    height: 5rem:
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav li {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}
.header__nav a {
    text-decoration: none;
    font-size: 2rem;
    color: #FFC733;
    padding: 0 2rem;
}
/* main */
/* footer */