:root {
    --primary-color: #FFC733;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header {
    background-color: black;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo h1 {
    padding-left: 1rem;
    font-size: 2.5rem;
}
header img {
    width: 10rem;
    height: 5rem;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav li {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}
.header__nav a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 0 2rem;
}
/* main */
body {
    background-image: linear-gradient(rgb(194, 186, 186),white);
}
.lista-pelas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 40rem;
    border: 0.1rem solid grey;
    border-radius: 5rem;
    margin: 3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem grey;
}
.container figure {
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.container p {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(65, 57, 57);
}
.pulp-fiction img {
    width: 20rem;
    height: 10rem;
}
.fight-club img {
    width: 20rem;
}
.it-2017 img {
    width: 20rem;
}
.seventhseal img {
    width: 15rem;
    padding-top: 4rem;
}
.shawshankredemption img {
    width: 15rem;
    padding-top: 4rem;
}
.mulhollanddrive img {
    width: 15rem;
    padding-top: 4rem;
}
/* footer */
footer {
    background-color: #2B5FB0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__nav li {
    display: inline-flex;
    list-style: none;
    padding: 2.5rem;
}
.footer__nav a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.footer__title {
    padding-bottom: 3rem;
    font-size: 1.8rem;
}
